.catalog__container {
  background-image: url("../img/dandelion.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 790px 697px;
  padding-top: 170px;
}

.catalog__title {
  margin-top: 50px;
  margin-bottom: 110px;
}
