*,
*::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__container {
  background-image: url("../img/dandelion.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 790px 697px;
  padding-top: 170px;
}

.catalog__title {
  margin-top: 50px;
  margin-bottom: 110px;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  margin: 0px;
  color: #515076;
}

.compound {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0px;
}

.compound__name {
  margin: 0;
  padding-bottom: 0px;
}

.compound__list {
  margin: 0;
  padding: 5px 25px 0px 20px;
}

.compound__item {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price__label {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  letter-spacing: 0%;
}

.price__value {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.card {
  background-color: #f7f7fa;
  padding: 25px;
}

.card__image {
  display: block;
  margin-bottom: 30px;
}

.card__category {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #515076;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #515076;
  margin: 0px;
  padding-top: 5px;
}

.card__description {
  color: #515076;
  margin: 0px;
  padding-top: 5px;
}

.card__compound {
  margin: 0;
  padding-top: 15px;
  color: #515076;
}

.card__price {
  margin: 0px;
  padding-top: 25px;
  margin-bottom: 0px;
  color: #515076;
}

.card_description,
p {
  margin-bottom: 15px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.products__item {
  width: 340px;
}

.second-color {
  background-color: #cec440;
}

.first-color {
  background-color: #5db96d;
}

#change-color-first-card-btn {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  color: #515076;
}

#change-color-all-cards-btn {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  color: #515076;
}
#go-google-btn {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  color: #515076;
}

#msg-console-Log-btn {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  color: #515076;
}

#change-color-btn {
  margin: 5px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  color: #515076;
}
